*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Media
.DS_Store
*.mov
*.mp4
*.jpg
*.txt

# Answer/Offer files
examples/videostream-cli/answer
examples/videostream-cli/offer
examples/videostream-cli/sender_output
examples/videostream-cli/receiver_output

